<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="BackendDB" value="MSSQL" />
    <add key="Version" value="2019.12.26" />
    <add key="PatchFileSettingLocation" value="http://localhost/AstenlabsUpdates/NetworkConfig.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
	  
	 <!--10.110.31.120 Armada Exhibition Server-->
    <!--<add key="db_connection" value="mYF8cUOZ+19Y+DTRCev4uhOaYbI73E5oltwTqChqVJdhnprwwzeX1TtoaHfVso4TYX2vTHOg5UcHrnViwwJLJYrz+gIGJq6wsvuNXaEp4LR6dtqaR736q8RRrrBD3piWlE+Dnc57M03V8U9biuN6I6ie3hD1/KyB186/SHrnB0/0pGW5mlbaoQ==" />-->
	  
    <!--144.91.78.243 Contabo Server-->
    <add key="db_connection" value="mYF8cUOZ+18JTgE1ANqJgK9nyTC11ZScasgon15mJa5hnprwwzeX1Va7hco4dbnColzQ8c9UCXdrdS+5ffypXosx3tBFO0jKYj7iequSXCo8hdt28wG2Cg9F1eGCStOv2y+kSrbb5kkESSKkQEvRbr7IGlIL8h9jQoXp9G0QpPI=" />
    
	<!--10.110.31.184 ARMADA UAT Server-->
	<!--<add key="db_connection" value="mYF8cUOZ+19Y+DTRCev4uqnBUCPidnfeMO0WDxfITjhhnprwwzeX1TtoaHfVso4TYX2vTHOg5UcHrnViwwJLJYrz+gIGJq6wsvuNXaEp4LR6dtqaR736q8RRrrBD3piWejl/HH5XfU7qwD1sGoM3ln+1wwZ8wQA9KVEcdPvshCvi3bgwhOsVZQ==" />-->

	  <!--183.83.156.178-->
	  <!--<add key="db_connection" value="mYF8cUOZ+18XzeZIUXIQDP1dh0FjeKtyYmLPPNRactde0lvKLy89NqOHr5d/xIQgafxDAAfRUfv5s3kMp76YujhZs50vpZH3njswGGcN0W3KvemRr8jiRGlQPaOsVROs0d9Ey6YbMbvTE99/tkcjq2evha4EX1+Oj7GWpllx9r0jJQO8s3hnwQ=="/>-->
    <!--192.168.0.52-->
    <!--<add key="db_connection" value="mYF8cUOZ+1+wATWh1eVPZzbI4w91beYxEiMuKKmpMRuMFA2iw1JzBHQjX6OUBCx5HanfnFjyhKDv0Vkp95PHN9B9KjxSHSxXVOhZJor0qKIQf4TQ6yW4yUUOZ/N6TygubHBX8mrFtxlFKxI8ea73/D0Xf8aMJxiK186/SHrnB0/0pGW5mlbaoQ==" />-->
    <!--Senthamil-->
    <!--144.91.78.243-->
    <!--<add key="db_connection" value="mYF8cUOZ+18JTgE1ANqJgK9nyTC11ZScasgon15mJa5hnprwwzeX1fV76bEH+woXolzQ8c9UCXdrdS+5ffypXosx3tBFO0jKYj7iequSXCrXE/hgF3ejqDjnmqY8ZSlE4bF+F5hdOHcmmFYMifmsQwoSx059VFh+ugMPhPCP0CsSvVAptTjECQ=="/>-->
    <!--<add  key ="db_connection" value="mYF8cUOZ+19GvyyKLXLWHb9e5M0OPiBFd+bshTXdrKavT+Wq1/eAJ9S6v+LK/J3s0ogThdANFHQStxsoyHYi4vf25MjuqKLPJv+4VZ+ICwZvmccjRQ8Qblr4tKtEZ+m1ZvsBlKjIPPWont4Q9fysgdfOv0h65wdP9KRluZpW2qE="/>-->
    <!--<add key="CentralUnitConnection" value="Data Source=10.106.10.81;Initial Catalog=WMS_2018;User ID=sa;Password=Adm1n1str@t0r"/>-->
    <!--<add key="CentralUnitConnection" value="Data Source=10.106.10.33;Initial Catalog=ARMADA_POS;User ID=sa;Password=pos@2018" />-->
    <!--<add key="CentralUnitConnection" value="Data Source=DESKTOP-6ON3SQH;Initial Catalog=NEW_POSONE;User ID=sa;Password=123"/>-->
    <!--<add key="CentralUnitConnection" value="Data Source=10.106.10.33;Initial Catalog=ARMADA_POS;User ID=sa;Password=pos@2018"/>-->
    <!--<add key="CentralUnitConnection" value="Data Source=192.168.0.52;Initial Catalog=CentralUnit;User ID=sa;Password=@stenL@bs$2017"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
  </connectionStrings>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>